<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrapのcss読み込み -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- DataTableのcssファイルを読み込む -->
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <title>Kakeibo</title>
  </head>

  <body>
    {% block content %}

    <!-- ここに子テンプレートの内容が差し込まれる -->

    {% endblock %}

    <!-- bootstrapのjavascrit読み込み-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- DataTablesのjavascrit読み込み-->
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <!-- Databableの定義-->
    <script>
      jQuery(function($){
        // デフォルトの設定を変更
        $.extend( $.fn.dataTable.defaults, {
            language: {
                url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
              }
            });
        $("#kakeibo_list").DataTable({
            "searching": true,
            // 検索機能
            "paging": true,
            // ページング機能
            "ordering": true,
            // ソート機能
            "lengthChange": true,
            //件数切り替え機能
            // "info": true,
            // 情報表示

        }).columns.adjust().draw();
      });
    </script>

    <!-- chart.jsの読み込み -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- 円グラフの設定-->
    <script>
      var ctx = document.getElementById('CircleChart').getContext('2d');
      var data = [
        [
          {% for key, value in category_dict.items %}
            '{{key}}',
          {% endfor %}
        ],

        [
          {% for key, value in category_dict.items %}
            {{value}},
          {% endfor %}
        ]]

      var myChart = new Chart(ctx, {
        type: 'pie',

        data: {
          labels: data[0],
          datasets: [{
            data: data[1],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
          }]
        },
      });
    </script>

    <!-- 折れ線グラフの設定-->
    <script>
      var ctx = document.getElementById("LineChart").getContext('2d');
      var DiskChart = new Chart(ctx, {
        type: 'line',
          data: {
            labels:[
              {% for item in x_label %}
                '{{item}}',
              {% endfor %}],

            datasets: [
              {% for category_name in category_list %}
                {
                  label: "{{category_name}}",
                  fill: false,
                  {% for category, color in border_color %}
                      {% if category == category_name %}
                        borderColor : "rgba({{color}})",
                      {% endif %}
                  {% endfor %}

                  {% for category, color in background_color %}
                      {% if category == category_name %}
                        backgroundColor : "rgba({{color}})",
                      {% endif %}
                  {% endfor %}

                  data: [
                    {% for time_label in x_label %}

                      {% for date, category, total in matrix_list %}
                        {% if category == category_name %}
                          {% if date == time_label %}
                            {{total}},
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  ],
                },
              {% endfor %}
            ]
          },

            options: {
              responsive: true,
              scales: {
                xAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: '時間'
                  },
                  ticks: {
                      maxRotation:0,
                      minRotation:0
                  },
                }],
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: '合計金額（円）'
                  },
                  ticks: {
                    min: 0,
                  }
                }],
              },
              title: {
                display: true,
                pocision: "top",
                fontSize: 30,
                fontColor: "black",
                text: "月毎の合計金額推移"
              },
            }
      });
    </script>
  </body>
</html>
