{% extends 'kakeibo/base.html' %}
{% block content %}

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs -->
      <ul class="uk-breadcrumb">
        <li><a href="{% url 'kakeibo:kakeibo_list' %}">TOP</a></li>
        <li><span class="uk-disabled">データ削除</span></li>
      </ul>

      <legend class="uk-legend"><h4><b>データ削除</b></h4></legend>
        <div class="uk-alert-primary" uk-alert>
          <p>データの削除が正常に行われました。</p>
        </div>
        <a class="uk-button  uk-button-small uk-button-primary" href="{% url 'kakeibo:kakeibo_list' %}">戻る</a>
    </div>
  </div>
  
{% endblock content %}
