{% extends 'kakeibo/base.html' %}
{% block content %}

  <div class="uk-container">
    <!-- パンくずリストの設定 -->
    <ul class="uk-breadcrumb">
      <li><a href="{% url 'kakeibo:kakeibo_list' %}">TOP</a></li>
      <li><span class="uk-disabled">一覧表示</span></li>
      <li><a href="{% url 'kakeibo:kakeibo_circle' %}">円グラフ</a></li>
      <li><a href="{% url 'kakeibo:kakeibo_line' %}">折れ線グラフ</a></li>
    </ul>
    <!-- ページタイトル -->
    <div class="uk-card">
      <!-- テーブル表の定義_始 -->
        <div class="uk-table uk-table-small  uk-table-striped uk-table-hover uk-table-divider uk-overflow-auto">
          <table id="kakeibo_list" class="compact" width="100%">
          <!-- 表の定義_始 -->
            <thead>
              <tr>
                <th class="text-center">日付</th>
                <th class="text-center">カテゴリ</th>
                <th class="text-center">金額</th>
                <th class="text-center">メモ</th>
                <th class="text-center">更新・削除</th>
              </tr>
            </thead>
            <!-- 表の定義_終 -->
            <!-- 表のデータ表示_始 -->
            <tbody>
              {% for item in object_list %}
                <tr>
                  <td width="100"">{{ item.date }}</td>
                  <td width="100"">{{ item.category }}</td>
                  <td width="140"">{{ item.money }} 円</td>
                  <td width="140"">{{ item.memo }}</td>
                  <td width="140"">
                    <a class="uk-button  uk-button-small uk-button-primary" href="{% url 'kakeibo:kakeibo_update' item.pk %}">更新</a>
                    <a class="uk-button  uk-button-small uk-button-danger"" href="{% url 'kakeibo:kakeibo_delete' item.pk %}">削除</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <!-- 表のデータ表示_終 -->
          </table>
          <!-- テーブル表の定義_終 -->
        </div>
    </div>
  </div>
  <style media="screen">
    table {
      border: solid 1px #B2B2B2;
    }
    .uk-card {
      font-size: 1rem;
    }
    .uk-overflow-auto {
      overflow: visible;
    }
  </style>
{% endblock content %}
