{% extends 'kakeibo/base.html' %}
{% block content %}

  <div class="uk-container">
    <!-- パンくずリストの設定 -->
    <ul class="uk-breadcrumb">
      <li><a href="{% url 'kakeibo:kakeibo_list' %}">TOP</a></li>
      <li><span class="uk-disabled">データ削除</span></li>
    </ul>

      <!-- Example DataTables Card -->
      <div class="card mb-3">
        <div class="card-header">
          <legend class="uk-legend"><h4><b>データ削除</b></h4></legend>
        </div>
        <div class="content-wrapper">
          <div class="container-fluid">
            <p>{{ object }} のデータを削除してよろしいですか？</p>

            <form method="post">
              <a class="uk-button  uk-button-small uk-button-primary" href="{% url 'kakeibo:kakeibo_list' %}">戻る</a>
              <button class="uk-button  uk-button-small uk-button-danger">削除</button>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
