{% extends 'kakeibo/base.html' %}
{% load bootstrap %}
{% block content %}

  <!-- formタグを設定し、postメソッドを指定 -->
  <div class="uk-container">
    <!-- パンくずリストの設定 -->
    <ul class="uk-breadcrumb">
      <li><a href="{% url 'kakeibo:kakeibo_list' %}">TOP</a></li>
      <li><span class="uk-disabled">データ登録</span></li>
    </ul>

    <form method="post">
      <fieldset class="uk-fieldset">

        <legend class="uk-legend"><h4><b>データ登録</b></h4></legend>
        <!-- 新規データ登録フォームを表示 -->
        <div>
          {{ form|bootstrap }}
        </div>

        <!-- データ保存ボタンを設定 -->
        <button class="uk-button  uk-button-small uk-button-primary">保存</button>
        <a class="uk-button  uk-button-small uk-button-danger" href="{% url 'kakeibo:kakeibo_list' %}">戻る</a>

      </fieldset>
      <!-- CSRF対策 -->
      {% csrf_token %}
    </form>
  </div>
{% endblock %}
